<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">

<footer >
    <div class="row" style="height: 50px;" >
        <div class="col" style="margin-left: 100px;">
            <a routerLink="/privacy" style="text-decoration: none; color: black;"><h3>Privacy <div class="underline"><span></span></div></h3></a>
            
            
        </div>
        <div class="col">
            <a routerLink="/terme" style="text-decoration: none; color: black;"><h3>Terme <div class="underline"><span></span></div></h3></a>
       
        </div>
        <div class="col">
            <a routerLink="/contact" style="text-decoration: none; color: black;"><h3>Contact <div class="underline"><span></span></div></h3></a>
        </div>
        <div class=" col social-icons">
            <p >Follow Us</p>
            <ul >
              <li><a href="#"><i style="color: black;" class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i style="color: black;" class="fab fa-instagram"></i></a></li>
              <li><a  href="https://twitter.com/estate_fin47618?fbclid=IwAR2lWKTQdEvI1HPozwvEIpl0tKcKh8aDWaKo8UYn2Ojrqw1YUg4iPJZwmxI"><i style="color: black;" class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
          
         
        
    </div>
    <hr>
    <p class="copyright"> © EstateFind 2023-All Rights Reserved</p>
     </footer>   
       
    
    
  
    
    
    
    
   
