<div class=" banner">
    <nav class="navbar">
        <a style="text-decoration: none;" routerLink="/home"><h2 class="logo">Estate<span>Find</span></h2></a>
        
       
        <ul class="mb-2">
           <li><a routerLink="/home">Home</a></li> 
           
           <li><a routerLink="/about">About</a></li> 
           <li><a routerLink="/contact">Contact</a></li>
          
        </ul>
        <div>
          <button type="button" style="margin-right: 35px;" (click)="gologin()" >Sign in</button>
          <button type="button" (click)="gosignup()" >Sign up</button>
        </div>
    
       
    </nav>
    <div class="content bg-light mt-5 p-4" style="border-radius: 5%; width: 70%; margin: auto; font-weight: bold;">
        <p class="m-3 text-center ">At EstateFind, we are committed to protecting the privacy of our users. This Privacy Policy explains how we collect, use, and disclose information about our users and their use of our website</p>
        <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">Property Listings</h3>
        <p class="m-3 text-center">Our website allows users to post and view property listings. By posting a listing on our website, you represent and warrant that you have the right to offer the property for sale or rent, that the information you provide is accurate and complete, and that you will comply with all applicable laws and regulations <br> We reserve the right to remove any listing that we believe violates these Terms or our Privacy Policy, or that we believe is otherwise inappropriate or harmful. </p>
        <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">Intellectual Property </h3>
        <p class="m-3 text-center">The content on our website, including text, graphics, images, and software, is the property of EstateFind  and is protected by copyright and other intellectual property laws. You may not reproduce, modify, distribute, or otherwise use any content on our website without our express written permission.</p>
        <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">Limitation of Liability </h3>
        <p class="m-3 text-center">We are not responsible for the accuracy, completeness, or reliability of any information or content provided on our website, including property listings. We are not responsible for any damages, direct or indirect, arising out of your use of our website or your reliance on any information or content provided on our website</p>
            <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">Governing Law </h3>
            <p class="m-3 text-center">These Terms and your use of our website shall be governed by and construed in accordance with the laws of Nabeul, without giving effect to any principles of conflicts of law. Any legal action or proceeding arising out of these Terms or your use of our website shall be brought exclusively in the state or federal courts located in Tunisia, and you consent to the jurisdiction of such courts</p>
            <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">Changes to these Terms </h3>
            <p class="m-3 text-center">We may update these Terms from time to time. If we make material changes, we will notify you by email or by posting a notice on our website prior to the change becoming effective. Your continued use of our website after such notice constitutes your acceptance of the revised Terms</p>
    
    </div>
    
    </div>
    <app-footer></app-footer>
