<div class=" banner">
    <nav class="navbar">
        <a style="text-decoration: none;" routerLink="/home"><h2 class="logo">Estate<span>Find</span></h2></a>
        
       
        <ul class="mb-2">
           <li><a routerLink="/home">Home</a></li> 
           
           <li><a routerLink="/about">About</a></li> 
           <li><a routerLink="/contact">Contact</a></li>
          
        </ul>
        <div>
          <button type="button" style="margin-right: 35px;" (click)="gologin()" >Sign in</button>
          <button type="button" (click)="gosignup()" >Sign up</button>
        </div>
    
       
    </nav>
    <div class="content bg-light  p-4" style="border-radius: 5%; width: 70%; margin: auto; font-weight: bold; margin-top: 100px;">
        <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">About EstateFind</h3>
        <p class="m-3 text-center">At EstateFind, we're dedicated to helping you find your dream home. Our platform allows users to browse and post property listings for sale or rent, making it easy to find the perfect home for your needs </p>
        <p class="m-3 text-center">We believe that buying or renting a home should be a simple and straightforward process, which is why we strive to make our platform easy to use and navigate. Our team is constantly working to improve the user experience and provide helpful resources and tools to assist you in your search.</p>
        <p class="m-3 text-center">Thank you for choosing EstateFind as your go-to source for all things real estate. If you have any questions or feedback, please don't hesitate to contact us at EstateFind@gmail.com </p>
    
    
    </div>
    
    </div>
    <app-footer></app-footer>
