<div class=" banner">
    <nav class="navbar">
        <a style="text-decoration: none;" routerLink="/home"><h2 class="logo">Estate<span>Find</span></h2></a>
        
       
        <ul class="mb-2">
           <li><a routerLink="/home">Home</a></li> 
           
           <li><a routerLink="/about">About</a></li> 
           <li><a routerLink="/contact">Contact</a></li>
          
        </ul>
        <div>
          <button type="button" style="margin-right: 35px;" (click)="gologin()" >Sign in</button>
          <button type="button" (click)="gosignup()" >Sign up</button>
        </div>
    
       
    </nav>
    <div class="content bg-light  p-4" style="border-radius: 5%; width: 70%; margin: auto; font-weight: bold; margin-top: 100px;">
        <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">Contact Us</h3>
        <p class="m-3 text-center">We're always happy to hear from our users! If you have any questions or feedback about our platform, please don't hesitate to contact us using the information below: </p>
        <p class="m-3 text-center">Email : EstateFind@gmail.com </p>
        <p class="m-3 text-center"> Contact us also via our social media platfroms! </p>
        <p class="m-3 text-center">We strive to respond to all inquiries within 24 hours. Thank you for choosing EstateFind! </p>

    
    
    </div>
    
    </div>
    <app-footer></app-footer>

