<div class=" banner">
  <nav class="navbar">
    <a style="text-decoration: none;" routerLink="/home"><h2 class="logo">Estate<span>Find</span></h2></a>
    
   
    <ul class="mb-2">
       <li><a routerLink="/home">Home</a></li> 
        
       <li><a routerLink="/about">About</a></li> 
       <li><a routerLink="/contact">Contact</a></li>
      
    </ul>
    <div>
      <button (click)="gologin()" type="button" style="margin-right: 35px;" >Sign in</button>
      <button (click)="gosignup()" type="button" >Sign up</button>
    </div>
   
</nav>
  <div class="content">
   <div class="row" style="margin-top: 70px;">
    <div class="col-7 text-center  " style=" border-radius: 10%; padding: 50px; background-color: whitesmoke;">
          <h3 style="font-size: 50px; margin-bottom: 50px;">Upload Images</h3>
          <form action="">
            <div class="row" style="width: 70%; margin: auto;">
               <div class="col-6">
                <div>
                  <input type="file" id="cinfront" accept="image/*">
                  <label class="pic text-center" for="cinfront" style="height: 100px; font-size: 30px;"> + <br> Pic1 </label>
                  
                 </div>
               </div>
               <div class="col-6">
                <div>
                  <input type="file" id="cinfront" accept="image/*">
                  <label class="pic text-center" for="cinfront" style="height: 100px; font-size: 30px;"> + <br> Pic2 </label>
                  
                 </div>
               </div>
            </div>
            <div class="row mt-3" style="width: 70%; margin: auto;">
                <div class="col-6">
                  <div>
                    <input type="file" id="cinfront" accept="image/*">
                    <label class="pic text-center" for="cinfront" style="height: 100px; font-size: 30px;"> + <br> Pic3 </label>
                    
                   </div>
                </div>
                <div class="col-6">
                  <div>
                    <input type="file" id="cinfront" accept="image/*">
                    <label class="pic text-center" for="cinfront" style="height: 100px; font-size: 30px;"> + <br> Pic4 </label>
                    
                   </div>
                </div>
            </div>
            <div class="row " style="margin-top: 90px;">
              <div class="col-5">
                <div class="input-container " >
                  <i class="fa-solid fa-location-dot icon"></i>
                 <input class="input-field" type="text" placeholder="Adresse">
                </div>
                
              </div>
              <div class="col-4">
                <select class="form-select form-select-lg  hei" style="width: 90%; margin: auto;" >
                  <option selected>Goverment</option>
                  <option >....</option>
                  
                  
                </select>
              </div>
              <div class="col-3">
                <select class="form-select form-select-lg  hei" style="width: 90%; margin: auto;" >
                  <option selected>City</option>
                  <option >....</option>
                  
                  
                </select>
              </div>
            </div>

          </form>
    </div>
    <div class="col-5 ba bg-light " style="border-radius: 10%;">
       <form action="" class="m-4">
        <div class="input-container mb-3">
          <i class="fa fa-user icon"></i>
         <input class="input-field" type="text" placeholder="Full Name">
        </div>
        <div class="input-container mb-3">
          <i class="fa fa-envelope icon"></i>
          <input class="input-field" type="email" placeholder="Email" >
        </div>
        <div class="input-container mb-4">
          <i class="fa-solid fa-phone icon"></i>
          <input class="input-field" type="tel" placeholder="Phone" >
        </div>
        <div class="row " style="width: 95%; margin: auto;">
          <div class="col-6">
            <div class="input-container mb-4">
              <i class="fa-solid fa-m icon"></i>
              <input class="input-field" type="number" placeholder="surface" >
            </div>
          </div>
          <div class="col-6">
            <div class="input-container mb-4">
              <i class="fa-solid fa-bed icon"></i>
              <input class="input-field" type="number" placeholder="Nb bedroom" >
            </div>
          </div>
         
        </div>
        <div class="row " style="width: 95%; margin: auto;">
          <div class="col-6">
            <div class="input-container mb-4">
              <i class="fa-solid fa-toilet icon "></i>
              <input class="input-field" type="number" placeholder="Nb bathroom" >
            </div>
          </div>
          <div class="col-6" >
            <select class="form-select form-select-lg  hei" style="width: 90%; margin: auto;" >
              <option selected>Rent or Sell</option>
              <option >Buy</option>
              <option>Rent</option>
              
            </select>
          </div>
          <div class="input-container mb-4">
            <i class="fa-solid fa-dollar-sign icon"></i>
            <input class="input-field" type="number" placeholder="Price" >
          </div>
          
         
        </div>
        
       
        
       
        <button  type="submit" class="btn btn-primary " style="margin-top: 30px; margin-left:175px ;" >Upload</button>

       </form> 
    </div>
   </div>
  </div>
</div>

  <app-footer ></app-footer>
