<div class="content">
    <div class="row text-center">
      <div class="col-md-3">
        <h4 class="fl mt-3">Filter</h4>
      </div>
      <div class="col-md-3">
        <select class="form-select mt-2" aria-label="Default select example">
          <option selected>Goverment</option>
          <option value="1">Nabeul</option>
          <option value="2">Ben Arous</option>
          <option value="3">Ariana</option>
          <option value="3">Bizerte</option>
          <option value="3">Beja</option>
          <option value="3">Gabes</option>
        </select>
      </div>
        <div class="col-md-3">
          <select class="form-select mt-2" aria-label="Default select example">
            <option selected>City</option>
            <option value="1">Borj Cedria</option>
            <option value="2">Korba</option>
            <option value="3">Tazarka</option>
            <option value="3">Kelibia</option>
            <option value="3">Soliman</option>
            
          </select>
        </div>
        <div class="col-md-3">
          <button type="button" class="mt-2">Find</button>

        </div>
      </div>
    </div>
