<div class=" banner">
  <nav class="navbar">
    <a style="text-decoration: none;" routerLink="/home"><h2 class="logo">Estate<span>Find</span></h2></a>
    
   
    <ul class="mb-2">
       <li><a routerLink="/home">Home</a></li> 
       
       <li><a routerLink="/about">About</a></li> 
       <li><a routerLink="/contact">Contact</a></li>
      
    </ul>
    <div>
      <button type="button" style="margin-right: 35px;" (click)="gologin()" >Sign in</button>
      <button type="button" (click)="gosignup()" >Sign up</button>
    </div>

   
</nav>
<app-filter></app-filter>
      <div class="row mb-5" style="margin-right: 100px;">
        <div class="col-md-4">
          <div class="card" style="width: 24.3rem; height: 400px">
            <img src="../../assets/img/r1.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="width: 24.3rem">
              <h5 class="card-title mt-1 mb-2">For Sell </h5>
              <p class="card-text mb-2 ">
                $1.2500/mo
                2bed |  1bath | 1.000sqft</p>
              <a routerLink="/buyresquest" class="btn btn-outline-warning mb-2  " >More Information</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 24.3rem; height: 400px">
            <img src="../../assets/img/r2.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="width: 24.3rem">
              <h5 class="card-title mt-1 mb-2">For Sell </h5>
              <p class="card-text mb-2"> 
                $1.500/mo
                2bed |  2bath | 1 691sqft  .</p>
               <a routerLink="/buyresquest" class="btn btn-outline-warning mb-2">More Information</a>

            </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="card" style="width: 24.3rem;  height: 400px">
            <img src="../../assets/img/r3.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="width: 24.3rem">
              <h5 class="card-title mt-1 mb-2">For Sell</h5>
              <p class="card-text mb-2">
                $3,200/mo
                4bed |  4bath | 2 691sqft    .</p>
              <a routerLink="/buyresquest" class="btn btn-outline-warning mb-2">More Information</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-5" style="margin-right: 110px;">
        <div class="col-md-4">
          <div class="card" style="width: 24.3rem; height: 400px">
            <img src="../../assets/img/r4.png" class="card-img-top" alt="...">
            <div class="card-body" style="width: 24.3rem">
              <h5 class="card-title mt-1 mb-2">For Sell </h5>
              <p class="card-text mb-2">
                $1.000/mo
                2bed |  1bath | 850sqft.</p>
              <a routerLink="/buyresquest" class="btn btn-outline-warning mb-2">More Information</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 24.3rem; height: 400px">
            <img src="../../assets/img/r5.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="width: 24.3rem">
              <h5 class="card-title mt-1 mb-2">For Sell</h5>
              <p class="card-text mb-2">  
             $1.800/mo
             2bed |  1bath | 1.500sqft    </p>
              <a routerLink="/buyresquest" class="btn btn-outline-warning mb-2">More Information</a>
            </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="card" style="width: 24.3rem; height: 400px">
            <img src="../../assets/img/d6.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="width: 24.3rem">
              <h5 class="card-title mt-1 mb-2">For Sell</h5>
              <p class="card-text mb-2 ">
                $1.800/mo
                2bed |  1bath | 1.500sqft    .</p>
              <a routerLink="/buyresquest" class="btn btn-outline-warning mb-2">More Information</a>
            </div>
          </div>
        </div>
        </div>
        <div class="row" style="margin-right: 100px;">
          <div class="col-md-4">
            <div class="card" style="width: 24.3rem; height: 400px">
              <img src="../../assets/img/d7.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="width: 24.3rem">
                <h5 class="card-title mt-1 mb-2">For Sell</h5>
                <p class="card-text mb-2" >
                  $4,500/mo
                  4bed |  4bath | 3330sqft.</p>
                <a routerLink="/buyresquest" class="btn btn-outline-warning mb-2">More Information</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 24.3rem; height: 400px">
              <img src="../../assets/img/d7.png" class="card-img-top" alt="...">
              <div class="card-body " style="width: 24.3rem">
                <h5 class="card-title mt-1 mb-2">For Sell </h5>
                <p class="card-text mb-2 ">
                  $4.000/mo
                  4bed |  3bath | 2 691sqft.</p>
                <a routerLink="/buyresquest" class="btn btn-outline-warning mb-2">More Information</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 24.3rem; height: 400px">
              <img src="../../assets/img/d9.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="width: 24.3rem">
                <h5 class="card-title mt-1 mb-2">For Sell </h5>
                <p class="card-text mb-2" >
                  $5.250/mo
                  4bed |  4bath | 4 691sqft.</p>
                <a routerLink="/buyresquest" class="btn btn-outline-warning mb-2 ">More Information</a>
              </div>
            </div>
          </div>
          </div>

        </div>
     <app-footer></app-footer>
   
      
