<div class=" banner">
  <nav class="navbar">
    <a style="text-decoration: none;" routerLink="/home"><h2 class="logo">Estate<span>Find</span></h2></a>
    
   
    <ul class="mb-2">
       <li><a routerLink="/home">Home</a></li> 
       
       <li><a routerLink="/about">About</a></li> 
       <li><a routerLink="/contact">Contact</a></li>
      
    </ul>
    <div>
      <button (click)="gologin()" type="button" style="margin-right: 35px;" >Sign in</button>
      <button (click)="gosignup()" type="button" >Sign up</button>
    </div>
   
</nav>
<div class="content">
  <div class="row">
    <div class="col-8" style="padding: 110px 0;">
      <h1 >Find Your Ideal Home</h1>
    </div>
    <div class="col-4 bg-light" style="border-radius: 10%; height: 320px;">
      <h3 class="text-center m-4">Welcome to EstateFind</h3>
      <form action="">
        <div class="input-group input-group-lg mt-3" style="width: 85%; margin: auto">
          <span class="input-group-text"  style="font-weight: bold;">Email</span>
          <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" >

        </div>
        <div class="input-group input-group-lg mt-3 " style=" width: 85%; margin: auto">
          <span class="input-group-text"  style="font-weight: bold;">Password</span>
          <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" >

        </div>
        <div style="width: 70%; margin: auto;" class="mt-3">
          <p class=" pb-lg-2" style="font-weight: bold;" >Don't have an account? <a href="#!" style="color:  rgb(220, 156, 18);">Register here</a></p>
        </div>
        <div style="width: 30%; margin: auto;" class="mt-3" ><button  type="submit"  >Login</button></div>
        </form>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>

