<div class=" banner">
<nav class="navbar">
    <a style="text-decoration: none;" routerLink="/home"><h2 class="logo">Estate<span>Find</span></h2></a>
    
   
    <ul class="mb-2">
       <li><a routerLink="/home">Home</a></li> 
       
       <li><a routerLink="/about">About</a></li> 
       <li><a routerLink="/contact">Contact</a></li>
      
    </ul>
    <div>
      <button type="button" style="margin-right: 35px;" (click)="gologin()" >Sign in</button>
      <button type="button" (click)="gosignup()" >Sign up</button>
    </div>

   
</nav>
<div class="content bg-light mt-5 p-4" style="border-radius: 5%; width: 70%; margin: auto; font-weight: bold;">
    <p class="m-3 text-center ">Welcome to EstateFind . By using our website, you agree to be bound by these Terms and Conditions ("Terms"), as well as our Privacy Policy. If you do not agree to these Terms, you should not use our website</p>
    <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">Information We Collect</h3>
    <p class="m-3 text-center">We collect information from you when you register on our site, upload your homes or fill out a form. When registering on our site, as appropriate, you may be asked to enter your name, e-mail address, mailing address or phone number </p>
    <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">How We Use Your Information</h3>
    <p class="m-3 text-center">We use the information we collect to provide you with the services you request, such as allowing you to post and view property listings on our website. We may also use your information to communicate with you about our services, to personalize your experience on our website, and to improve our website and services.</p>
    <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">How We Share Your Informations</h3>
    <p class="m-3 text-center">We may share your information with third-party service providers who help us operate our website or provide our services, such as payment processors, website hosting providers, and email service providers. We may also share your information with other users of our website who are interested in the properties you have listed for rent or sale.

        We may disclose your information if required by law or if we believe that such disclosure is necessary to protect our rights or the rights of others, to prevent fraud, or to respond to a government request.</p>
        <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">Your Choices</h3>
        <p class="m-3 text-center">You can choose not to provide us with certain information, but this may limit your ability to use our website and services <br> You can access and update your account information by logging into your account on our website.</p>
        <h3 class="m-4 text-center" style="font-weight: bold; color: rgb(220, 156, 18) ;">Security</h3>
        <p class="m-3 text-center">We take reasonable measures to protect your information from unauthorized access, use, or disclosure. However, no method of transmission over the internet, or method of electronic storage, is 100% secure</p>

</div>

</div>
<app-footer></app-footer>